<section class="shopping-cart-container">

    <div class="products-container">

        <h3 class="title">your products</h3>

        <div class="box-container">
           {{#each cart}}
            <div class="box">
                <i class="fas fa-times"></i>
                <img src={{this.image}} alt="">
                <div class="content">
                    <h3>{{this.productName}}</h3>
                    <span> quantity : </span>
                    <input type="number" name="" value={{this.quantity}} id="">
                    <br>
                    <span> price : </span>
                    <span class="price"> {{this.price}} </span>
                </div>
            </div>
            {{/each}}
        </div>

    </div>

    <div class="cart-total">

        <h3 class="title"> cart total </h3>

        <div class="box">
            <h3 class="subtotal"> subtotal : <span>{{totalPrice}}</span> </h3>
            <h3 class="total"> total : <span>{{totalPrice}}</span> </h3>
            {{#if user}}
            <a onclick="document.getElementById('sign-in').style.display='block'" style="width:auto;" class="btn">proceed to checkout</a>
            {{else}}
            <a href="/sign-in" class="btn">proceed to checkout</a>
            {{/if}}
        </div>

    </div>

</section>

<div id="sign-in" class="modal form">
  
  <form class="modal-content animate" action="" method="post">
    <div class="imgcontainer">
      <span onclick="document.getElementById('sign-in').style.display='none'" class="close" title="Close Modal">&times;</span>
      <img src="https://www.w3schools.com/howto/img_avatar2.png" alt="Avatar" class="avatar">
    </div>

    <div class="container">
      <label for="uname"><b>Username</b></label>
      <input class="textpass" type="text" placeholder="Enter Username" name="uname" required>

      <label for="psw"><b>Password</b></label>
      <input input class="textpass" type="password" placeholder="Enter Password" name="psw" required>
        
      <button class="form_btn" type="submit">Confirm your order</button>
      <label>
        <input type="checkbox" checked="checked" name="remember"> Remember me
      </label>
    </div>
    <div style="margin-left: 2rem;font-size:1.5rem;margin-bottom:2rem">
        <p>forget password? <a href="#">click here</a></p>
        <span onclick="document.getElementById('sign-in').style.display='none';document.getElementById('sign-up').style.display='block'">
            <p>don't have an account? <a style="color:#27ae60;cursor: pointer;">create one</a></p>
        </span>
    </div>
  </form>
</div>
