<section class="shopping-cart-container">
            {{#if order}}
            {{#each order}}
    <div class="products-container">
            <h3 class="title">{{this.date}}</h3>
            {{#if this.status}}
                <p>Waiting for delivery</p>
            {{else}}
                <p>Have been delivered</p>
            {{/if}}
            {{#each this.items}}
        <div class="box-container">
            <div class="box">
                <img src={{this.image}} alt="">
                <div class="content">
                    <h3>{{this.productName}}</h3>
                    <span> quantity : {{this.quantity}} </span>
                    <br>
                    <span> price : </span>
                    <span class="price"> {{this.price}} </span>
                </div>
            </div>
                        </div>

                        {{/each}}

            </div>
            <br>
            <br>
            {{/each}}
            {{else}}
            <h3 class="title">your orders</h3>
            <h1>Empty</h1>
           {{/if}}
        </div>
                    </section>


